.search-container {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 12px;
  margin-bottom: 20px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.table-container {
  overflow-x: auto;
  border: 1px solid #e2e8f0;
  border-radius: 0.75rem;
  background-color: white;
  width: 100%;
  margin-top: 1.5rem;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}

.cards-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.card {
  padding: 1rem;
  border-radius: 0.5rem;
  flex-grow: 1;
  text-align: center;
}

.card h3 {
  margin-top: 0;
  font-size: 1.2rem;
  color: #374151;
}

.card div {
  font-size: 1.5rem;
  font-weight: bold;
  color: #c51010;
}

.addStockExpens-btn {
  background-color: #03573b;
  color: white;
  border: none;
  padding: 0.3rem 0.5rem;
  font-size: 0.85rem;
  border-radius: 0.375rem;
  cursor: pointer;
  font-weight: 600;
}

.addStockExpens-btn:hover {
  background-color: #2d8064;
}

.addStockExpens-btn:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}